/*
 Remember: MOBILE FIRST
*/



span a {
    width: 140px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
span a:hover {
    background-color: #111111;
}