/*
 Remember: MOBILE FIRST
*/

.bg {
  background-image: linear-gradient(
      to bottom,
      #050505,
      transparent,
      transparent,
      transparent,
      transparent
    ),
    url("https://i.pinimg.com/originals/93/e3/97/93e3971ac2d293b8270fd045a3b78b99.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: all 1s ease-in-out;
}

.nav a {
  float: left;
  padding: 12px;
  color: white !important;
  margin: 0 !important;
  text-decoration: none;
  font-size: 1rem;
}
.nav a:hover {
  background-color: #003c8f;
}

.tab {
  text-align: center;
}

.activeTab {
  background-color: #003c8f;
}

@media screen and (max-width: 500px) {
  .navcontainer {
    width: 100%;
  }
  .nav a {
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.circle-button {
  border: none;
  float: right;
  border-radius: 25px;
  height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-content: center;
  cursor: pointer;
  transition: all 1s ease;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.infocard-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#search-bar-input {
  width: 100%;
  height: 40px;
  padding-right: 1rem;
  padding-left: 1rem;
  outline: none;
  border-style: unset;
  border-radius: 20px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  box-shadow: 1px 3px 4px #ccc;
}

.search-btn {
  border-radius: 20px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 1s ease;
}

.icon {
  display: inline-flex;
}

.icon-18 {
  width: 18px;
  height: 18px;
}

#filter-status,
#filter-from,
#filter-to {
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 120px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#filter-status {
  -webkit-appearance: menulist-button;
}

#search-filter-row {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.union {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

section {
  border-radius: 10px;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.93);
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 40vh;
  transition: all 1s ease;
}

.pagetitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#search-history-container {
  width: 100%;
  min-height: 49vh;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: x-large;
}

#search-history-items {
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
}

#search-history-items article {
  width: 100%;
  margin-bottom: 0.5rem;
}

.hoverable:hover {
  background-color: silver;
  cursor: pointer;
}
